@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.teacher-update-student-profile-view {
    background-color: #DEECECFF;
    padding: 20px;
    border-radius: 8px;
    max-width: 98%;
    margin: 80px auto;
    min-height: 80vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.teacher-update-student-profile-header {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.teacher-update-student-profile-description {
    color: #333;
    font-size: 14px;
    margin-bottom: 20px;
}

.teacher-update-student-search {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.teacher-update-student-grid {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.teacher-update-student-firstname,
.teacher-update-student-lastname,
.teacher-update-student-phone,
.teacher-update-student-email {
    width: 100%;
    margin-bottom: 10px;
}

.teacher-update-student-save-button {
    background-color: #FDB069;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.teacher-update-student-save-button:hover {
    background-color: #e08d53;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .teacher-update-student-profile-view {
        padding: 10px;
    }

    .form-container {
        padding: 15px;
    }

    .teacher-update-student-save-button {
        font-size: 14px;
        padding: 10px;
    }
}
