@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* teacher-update-student-profile-view.css */

.teacher-update-student-profile-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-color: #cde0ec; /* Background color */
    overflow-y: auto;
}

/* Page header styling */
.page-header {
    text-align: center;
    margin-bottom: 20px;
}

.page-header h1 {
    font-size: 30px;
    color: #000000; /* Black color for the header */
    margin-top: 30px;
}

.page-description {
    font-size: 20px;
    color: #333333; /* Dark grey color for the description */
    margin-top: 10px;
}

/* Grid styling */
.teacher-update-student-profile-view .v-grid {
    margin-bottom: 30px; /* Space between grid and form */
    background-color: #ffffff; /* White background for grid */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for grid */
}

/* Form container styling */
.teacher-update-student-profile-view .form-container {
    background-color: #ffffff; /* White background for form */
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* More pronounced shadow */
    margin-top: 0;
}


/* Save button styling */
.teacher-update-student-profile-view .save-button {
    width: 100%;
    margin-top: 20px; /* Space above the button */
    background-color: #FDB069; /* Primary button color */
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.teacher-update-student-profile-view .save-button:hover {
    background-color: #e6a14d; /* Slightly darker color on hover */
}


/* Responsive design adjustments */
@media (max-width: 768px) {
    .teacher-update-student-profile-view {
        padding: 10px;
    }

    .teacher-update-student-profile-view .form-container {
        padding: 15px;
    }

    .teacher-update-student-profile-view .save-button {
        font-size: 14px;
        padding: 10px;
    }
}
