/* Container for the registration view */
.registration-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container respects the header */
    justify-content: center;
    align-items: center;
    padding: 0; /* Removes unnecessary padding */
    background-color: #ffffff !important;
    box-sizing: border-box;
}

/* Main registration form styling */
.registration-form {
    padding: 1rem;
    background-color: rgb(222, 236, 236);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    transition: all 0.3s ease;
    margin: 0; /* Removed unnecessary margin */
    box-sizing: border-box;
}

/* Form title styling */
.registration-form-title {
    color: #1f2023;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem; /* Adds space below the title */
}

/* Button layout */
.registration-button-layout {
    display: flex;
    justify-content: center; /* Center align buttons */
    gap: 1rem; /* Adjusted gap for better alignment */
    margin-top: 1rem; /* Adjusted margin above the buttons */
}

/* Primary button styling */
.registration-primary-button,
.registration-secondary-button {
    padding: 0.5rem 1.5rem; /* Adjusted padding for buttons */
    border: none; /* Removes any default button border */
    cursor: pointer;
    font-weight: bold;
    border-radius: 25px; /* Rounded corners for consistency */
    transition: background-color 0.3s ease;
    font-size: 16px; /* Font size for consistency with other buttons */
}

/* Primary Button (Orange) */
.registration-primary-button {
    background-color: #FDB069; /* Light orange button */
    color: #ffffff; /* White text */
}

.registration-primary-button:hover {
    background-color: #e08d53; /* Darker orange on hover */
}

/* Secondary Button (Purple) */
.registration-secondary-button {
    background-color: #e08d53 !important; /* Light purple background */
    color: #ffffff;
}

.registration-secondary-button:hover {
    background-color: #cc8c40 !important; /* Darker purple on hover */
    color: #ffffff !important; /* White text on hover */
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .registration-form {
        padding: 1rem;
        max-width: 600px; /* Further reduce max-width for tablets */
    }
}

@media (max-width: 768px) {
    .registration-form {
        padding: 0.75rem;
        max-width: 90%;
    }
}
