.teacher-edit-profile-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 60px);
    background-color: #ffffff;
    padding: 20px;
}

.teacher-edit-profile-view-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.teacher-edit-profile-view-current-details-layout {
    flex: 1;
    max-width: 35%; /* Restrict the maximum width to make it smaller */
    min-width: 0;
    padding: 13px; /* Reduce padding to make it more compact */
    background-color: #E8F5E9FF;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    height: 150%;
}

.teacher-edit-profile-view-current-details-title {
    margin: 5px 0; /* Adjust margin to remove extra space */
    font-size: 23px; /* Font size for the title */
    color: #333;
    text-align: left; /* Align text to the left */
    width: 100%; /* Make sure the text takes the full width */
}

.teacher-edit-profile-view-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px; /* Reduce space between detail items */
    width: 100%;
    padding: 5px; /* Decrease padding to make it more compact */
    box-sizing: border-box;
}

.teacher-edit-profile-view-label {
    font-weight: bold;
    font-size: 20px; /* Slightly smaller font size */
    color: #333;
    text-align: left;
}

.teacher-edit-profile-view-value {
    font-size: 16px; /* Slightly smaller font size */
    color: #666;
}

.teacher-edit-profile-view-form-layout {
    flex: 1;
    max-width: 35%; /* Ensure the form layout has a bit more space */
    min-width: 0;
    padding: 20px;
    background-color: #E8F5E9FF;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 10px;
    box-sizing: border-box;
}

.teacher-edit-profile-view-save-button {
    background-color: #e6a14d; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Add some padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */

    /* Centering */
    display: block; /* Make button a block-level element */
    margin: 20px auto; /* Center horizontally with auto margins and add some vertical spacing */
}

.teacher-edit-profile-view-save-button:hover {
    background-color: #cc8c40; /* Darker green on hover */
}

.teacher-edit-profile-view-save-button:focus {
    outline: none; /* Remove outline on focus */
}
